* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

li {
    list-style: none;
} 

a {
    text-decoration: none;
    color: #000000;}


.nava{width: 100px;
font-size: x-large;
text-transform: uppercase;
}
}
nav li{
    display:block;
    position:relative;}

nav li>ul{
    display:none;
    position: absolute;}

.menus ul li:hover ul{transition: .3s;
    display: block;
}
.menus :hover{ color: lime;
transition: .3s;
display: block;
}


.menusa{display: block;
    padding: 15px 20px;
    color: black;font-family: Georgia, 'Times New Roman', Times, serif;
text-decoration: none;
text-transform: uppercase;
}
.menusa :hover{ color: lime;
transition: .3s;}
    

.breve{
    font-weight: bolder;
    list-style: none;
    text-align:justify;
    margin-top: 3px;
   font-style: italic;
    font-size: large;
    text-transform: uppercase;
    color: rgb(56, 25, 230);
    background-color: red;
    border-style:solid ;
display:inline-block;}

.imagenfallada{
    list-style-type: none;
    width: 10rem;
    border-style: solid;
    
}

.imguno{
    font-size: x-large;
    color: blue;
    border-color: blue;
    background-color: black;
    text-transform: uppercase;
    font-size: medium;display: flex;
    position: absolute;}
    
.imgdos{font-size: x-large;
    color: blue;
    border-color: blue;
    background-color: black;
    text-transform: uppercase;
    font-size: medium;
    display: flex;
    position: absolute;}
   
.f_cam{width: 10rem;margin-top: 3rem;border-style: solid;}

.f_acc{width: 10rem;border-style: solid;margin-top: 3rem}

.f_arm{width: 10rem;border-style: solid;margin-top: 3rem}

 .imgtres{font-size: x-large;
    color: blue;
    border-color: blue;
    background-color: black;
    text-transform: uppercase;
    font-size: medium;display: flex;
    position: absolute;}
    
.imgcuatro{
    
     font-size: x-large;
    color: blue;
    border-color: blue;
    background-color: black;
    text-transform: uppercase;
    font-size: medium;display: flex;
    position: absolute;}
   


.ventas{
    font-size: x-large;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    position: relative;
    left: 20rem;
    bottom: 30rem;
    
    display: inline-block;
    font-size: xx-large;
animation-name: ventasmov;animation-duration: 5s;animation-delay: 3s;animation-iteration-count: infinite;
position: relative;animation-direction: alternate;}


footer p{ color: forestgreen;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    display: flex;
    position: relative;
    
    
}

footer div{
    display: flex;
    align-items: center;
}

.footerclass{background-color: aquamarine;}






.ac_ac p{font-weight: bold;
    font-size: x-large;
    color: black;
    text-transform: uppercase;}

 .acc_camping p{font-weight: bold;
    font-size: x-large;
    color: black;
    text-transform: uppercase;}

.acc_pesca p{font-weight: bold;
    font-size: x-large;
    color: black;
    text-transform: uppercase;}

.acc_armas p{font-weight: bold;
    font-size: x-large;
    color: black;
text-transform: uppercase;}




.wordone{position:relative;
    margin-bottom: 4rem;
    
}
    
.video{display:flex;
position: relative;
width: 40rem;
padding: 3rem;}




    .makoimg{
     position: relative;
     left: 25rem;
     bottom:10rem;
     top: 26px;
     padding: 5px;
     width: 30rem;
     border-style: solid;
    margin: 2rem;}
    

.pone{display: flex;
    font-size: x-large;
 font-family: Georgia, 'Times New Roman', Times, serif;}
.ptwo{display: flex;
    font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;}
.finsta{display: flex;

}
.fcorreo{display: flex;
    }

.fface{display: flex;
    }

.ftel{display: flex;
    }




.container_acc{background-image: url(https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
height: 100%;
background-repeat: no-repeat;
background-size: cover;}

body{background-image: url(https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    overflow:auto;}

.header{display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: 1fr 1fr;
max-height:14rem ;}

 .main_titulo{grid-row:1/2;
grid-column: span 3;
height:2rem; justify-items: center;
font-weight: bold;
    font-size: xx-large;
   ;text-decoration: underline;text-transform: uppercase;justify-self: center;}
    
 .nava{grid-row:2/3;
grid-column: 1/2;}
 .logoacc{grid-row:2/·;
grid-column: 2/3;
}
 .carritoacc{grid-row:2/3;
grid-column: 3/4;}



.ac_ac{display: grid;
grid-template-columns: auto auto;}

.acc_camping{display: grid;
grid-template-areas:"section section";
grid-area: acc_camping;}





.container{display:grid;
    grid-template-columns:repeat(auto-fit, minmax(240px,auto))
    ;gap: 20px;
padding: 20px;
grid-auto-flow: dense;}



.importante{color: red
    ;
font-size: xx-large;
background-color: black;
animation-name: importante;
animation-duration: 5s;
animation-delay: 4s;
animation-iteration-count: infinite;}

.caña1{width: 280px;}

.tramp{width: 297px;
height: 170px;
padding-left: 35px;}

.breve{animation-name: logito;animation-duration: 4s;animation-delay: 2s;animation-iteration-count: infinite;}

@keyframes logito{
0%{background-color: red;}
50%{background-color: blue;}
100%{ background-color:aliceblue
}}
@keyframes ventasmov{0%{background-color: red;transform: translate(10%);}
50%{background-color: greenyellow;transform:translate(100%)}
100%{ background-color:aliceblue;
transform: translate(0%);}}

@keyframes importante {0%{background-color: deeppink;}
50%{background-color: aqua;}
100%{background-color: chocolate;}
    
}






@media screen and(max-min: 480px) {.breve{font-size: smaller;}

@media (min-width: 481px) and(max-width 768px){.breve{font-style: normal;}
















    
        

        
    


  


